beautifulsoup4
dateparser
faiss_cpu
feedparser
PyMuPDF
folium
gensim
google_api_python_client
google_auth_oauthlib
html2docx
matplotlib
mistralai
natural_pdf
nltk
numpy
pandas
pdfplumber
Pillow
plotly
protobuf
psutil
pydeck
pyngrok
PyPDF2
pytesseract
python-dotenv
python-telegram-bot
python_docx
pyvis
PyYAML
reportlab
Requests
scikit_learn
sentence_transformers
spacy
stanza
streamlit_folium
streamlit_navigation_bar
streamlit_option_menu
streamlit_pdf_viewer
streamlit_quill
tabulate
transformers
Unidecode
whisper
youtube_transcript_api
yt_dlp