absl-py==2.3.0
accelerate==1.10.0
aiofiles==24.1.0
appdirs==1.4.4
asgi-csrf==0.11
asgiref==3.8.1
astunparse==1.6.3
atomicwrites==1.4.0
attr==0.3.1
attrs==25.1.0
azure-core==1.32.0
azure-storage-blob==12.24.0
backoff==2.2.1
bcrypt==5.0.0
bertopic==0.17.4
bioc==2.1
bleach==5.0.1
blis==1.3.0
boto==2.49.0
boto3==1.35.68
botocore==1.35.68
branca==0.8.1
bs4==0.0.2
build==1.3.0
catalogue==2.0.10
choreographer==1.2.0
chromadb==1.3.0
click-default-group==1.2.4
cloudpathlib==0.20.0
coloredlogs==15.0.1
colormath2==3.0.3
colour==0.1.5
confection==0.1.5
conllu==4.5.3
cssselect2==0.8.0
cymem==2.0.10
datasette==0.65.1
dateparser==1.2.2
Deprecated==1.2.15
dill==1.2.0
distro==1.9.1
Django==4.2.16
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==2.4.0
django-migration-linter==5.1.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
dm-tree==0.1.9
docopt==0.6.2
docstring_parser==0.16
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
durationpy==0.10
easyocr==1.7.2
einops==0.8.1
el_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/el_core_news_lg-3.8.0/el_core_news_lg-3.8.0-py3-none-any.whl#sha256=3bf603778bda163a1770f66aadf6b9b1030d9ecb3cbdb24d690c060bbf4d598c
el_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.8.0/el_core_news_sm-3.8.0-py3-none-any.whl#sha256=18df59b7f099a20d6f7cc1f964a57408a4c1663b73b5110932c1ea24f66e3027
emoji==2.14.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etils==1.12.2
eval_type_backport==0.2.2
expiringdict==1.2.2
faiss-cpu==1.12.0
fake-useragent==2.2.0
feedfinder2==0.0.4
feedparser==6.0.11
flair==0.15.1
flatbuffers==25.2.10
flexcache==0.3
flexparser==0.4
folium==0.19.4
fqdn==1.5.1
ftfy==6.3.1
gast==0.6.0
gdown==5.2.0
gensim==4.3.3
geographiclib==2.0
geopy==2.4.1
google-api-core==2.23.0
google-api-python-client==2.184.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status==1.68.0
hdbscan==0.8.41
hf-xet==1.1.8
html2docx==1.6.0
httplib2==0.31.0
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.34.4
humanfriendly==10.0
humansignal-drf-yasg==1.21.10.post1
hupper==1.12.1
ijson==3.3.0
immutabledict==4.2.1
importlib_resources==6.5.2
invoke==2.2.0
isodate==0.7.2
isoduration==20.11.0
janus==2.0.0
jenkspy==0.4.1
jieba3k==0.35.1
jiter==0.7.1
jsonlines==4.0.0
jsonpickle==4.1.1
jsonpointer==2.1
jsonschema==4.23.0
kaleido==1.2.0
keras==3.10.0
kubernetes==34.1.0
label-studio==1.14.0.post0
label-studio-sdk==1.0.7
langchain==1.0.3
langchain-core==1.0.2
langcodes==3.5.0
langdetect==1.0.9
langgraph==1.0.2
langgraph-checkpoint==3.0.0
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.39
language_data==1.3.0
launchdarkly-server-sdk==8.2.1
libclang==18.1.1
lockfile==0.12.2
logistro==2.0.1
lxml_html_clean==0.4.2
marisa-trie==1.2.1
mergedeep==1.3.4
mistralai==1.9.11
ml_dtypes==0.5.1
mmh3==5.2.0
mpld3==0.5.11
murmurhash==1.0.11
namex==0.1.0
natural-pdf==0.3.2
newspaper3k==0.2.8
ninja==1.13.0
nltk==3.9.1
numpy==1.26.4
oauthlib==3.3.1
onnxruntime==1.23.2
openai==1.55.1
openai-whisper==20250625
opencv-python-headless==4.12.0.88
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt_einsum==3.4.0
optree==0.16.0
ordered-set==4.0.2
orjson==3.11.4
ormsgpack==1.11.0
outcome==1.3.0.post0
pandas==2.2.3
parse==1.20.2
pathlib==1.0.1
pdfminer.six==20251230
pdfplumber==0.11.9
pkce==0.1.0.1
posthog==5.4.0
pptree==3.1
preshed==3.0.9
promise==2.3
proto-plus==1.25.0
protobuf==5.29.5
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyasn1-modules==0.2.8
pybase64==1.4.2
pybind11==2.13.6
pyboxen==1.3.0
pyclipper==1.3.0.post6
pydantic==2.11.9
pydantic_core==2.33.2
pydyf==0.11.0
pyee==11.1.1
PyJWT==2.10.1
pyls-spyder==0.4.0
PyMuPDF==1.26.4
pyngrok==7.4.0
pynndescent==0.6.0
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyquery==2.0.1
pyRFC3339==2.0.1
pytesseract==0.3.13
pytest-timeout==2.4.0
python-bidi==0.6.6
python-docx==1.1.2
python-json-logger==2.0.4
python-multipart==0.0.20
python-telegram-bot==22.5
pytorch_revgrad==0.2.0
pytube==15.0.0
pytz==2025.2
pyvis==0.3.2
PyYAML==6.0.3
redis==3.5.3
regex==2025.8.29
reportlab==4.4.4
requests-mock==1.12.1
requests-oauthlib==2.0.0
rq==1.10.1
rsa==4.9
rules==3.4
s3transfer==0.10.4
safetensors==0.6.2
scikit-learn==1.8.0
segtok==1.5.11
selenium==4.28.1
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.19.0
setuptools==75.6.0
sgmllib3k==1.0.0
shapely==2.1.2
shellingham==1.5.4
simple-parsing==0.1.7
simplejson==3.20.2
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@614d4c2029a62d348ca56598f87c425966aaec66
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
sqlparse==0.5.2
srsly==2.5.0
st-theme==1.2.3
stanza==1.10.1
streamlit==1.50.0
streamlit-folium==0.26.1
streamlit-navigation-bar==3.3.0
streamlit-option-menu==0.4.0
streamlit-pdf-viewer==0.0.26
streamlit-quill==0.0.3
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.2
termcolor==3.1.0
text-unidecode==1.3
tf_keras==2.19.0
thinc==8.3.8
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tinysegmenter==0.3
tokenizers==0.21.4
toml==0.10.2
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
transformer-smaller-training-vocab==0.4.2
transformers==4.55.4
trio==0.28.0
trio-websocket==0.11.1
typer==0.15.1
typing-inspection==0.4.2
typing_extensions==4.12.2
tzlocal==5.3.1
ua-parser==0.18.0
umap-learn==0.5.11
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
uvicorn==0.35.0
uvloop==0.22.1
wasabi==1.1.3
watchfiles==1.1.1
weasel==0.4.1
weasyprint==66.0
webcolors==25.10.0
webdriver-manager==4.0.2
websockets==10.4
wheel==0.40.0
whisper==1.1.10
Wikipedia-API==0.8.1
wsproto==1.2.0
xmljson==0.2.1
xxhash==3.6.0
youtube-transcript-api==1.2.2
yt-dlp==2025.1.26
zopfli==0.2.3.post1
zstandard==0.25.0